target/
.ipynb_checkpoints/
.DS_Store
*.ipynb
*.pkl
**/saved_model
*.html
Pipfile
Pipfile.lock
**/.remote-sync.json

# Ignoring dynamically created directories
**/data
**/pred
**/tmp
**/ckpt
**/__pycache__
**/*.zip
